
@{
    ViewBag.Title = "Index";
}

<p>Fecha: @ViewBag.Fecha</p>
<h2>@ViewBag.Saludo</h2>
@Html.ActionLink("Go to flyes", "Index", "Vuelo")


@section izq
    {
    <img src="~/Images/89801417-old-trafford-es-un-estadio-de-fútbol-gran-manchester-inglaterra-y-el-hogar-del-manchester-united-vis.jpg" />

    <img src="~/Images/na18fo01_15.jpg" />
}
